# your dotfiles repo name
.dotfiles

# experimentation
sandbox

# system files & directories
.CFUserTextEncoding
.DS_Store
.bash_history
.cache/

.config/*
!.config/dashy/
!.config/gh/
!.config/vimium/
!.config/miscellaneous/
!.config/monkeytype/
!.config/raycast/
.config/raycast/*/
.docker/
# want to track
.gitconfig
.lesshst
.local/
.logseq/
.mongodb/
.node/
.npm/
.nvm/

.oh-my-zsh/*
!.oh-my-zsh/custom/
.oh-my-zsh/custom/*
!.oh-my-zsh/custom/*.*

.pyenv/
.python_history
.rest-client/
.ssh/
.viminfo
.vscode-oss/
.vscode/*
!.vscode/tasks.json
.zcompdump*
.zsh_history
.zsh_sessions/

# mac specific system files & directories
Applications/
Desktop/
Documents/
Downloads/
Library/*

# vscodium
!Library/Application*Support/
Library/Application*Support/*
!Library/Application*Support/VSCodium/
Library/Application*Support/VSCodium/*
!Library/Application*Support/VSCodium/User/
Library/Application*Support/VSCodium/User/*
!Library/Application*Support/VSCodium/User/*.*
!Library/Application*Support/VSCodium/User/profiles/
Library/Application*Support/VSCodium/User/profiles/*/
!Library/Application*Support/VSCodium/User/snippets/

Movies/
Music/
Pictures/
Public/
projects*/
.Trash/

# **/setup-*.sh
# need to track ~/.oh-my-zsh/setup-oh-my-zsh-plugins.sh
