# your dotfiles repo name
/.dotfiles

# experimentation
sandbox

# system directories
.cache/

.config/autostart/
.config/BraveSoftware/
.config/caja/
.config/chromium/
.config/cinnamon/
.config/Code/*
!.config/Code/User
.config/create-next-app-nodejs/
.config/dconf/
.config/Docker?Desktop/
.config/enchant/
.config/evolution/
.config/fonts/*/*/.uuid
.config/gtk-3.0/
.config/hexchat/
.config/libreoffice/
.config/Logseq/
.config/menus/
.config/nemo/
.config/nextjs-nodejs/
.config/ngrok/
.config/obsidian/
.config/pix/
.config/pulse/
.config/qt5ct/
.config/raycast/*/
.config/sticky/
.config/syncthing/
.config/transmission/
.config/VSCodium/*
!.config/VSCodium/User
!.config/VSCodium/product.json
.config/xed/
.config/xviewer/
.config/cinnamon-monitors.xml*
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale

.docker/
.dotnet/
.ecryptfs
.gnome/
.gnupg/
.gtkrc*
.linuxmint/
.mozilla/
.local/*
!.local/bin/
.logseq/*
!.logseq/Dockerfile
!.logseq/Makefile
master/
.mongodb/
.node/
.npm/
.nvm/
.oh-my-zsh/
.oh-my-zsh-custom/*/
.pki/
.Private
.pyenv/
.rest-client/
.ssh/
.Trash/
.vscode/*
!.vscode/tasks.json
.vscode-oss/
!.vscode-oss/tasks.json
.yarn/
.zsh_sessions/

# general purpose directories
Applications/
Desktop/
Documents/
Downloads/
Library/*
!Library/Application?Support/
Library/Application?Support/*
!Library/Application?Support/Code/
!Library/Application?Support/VSCodium/
Library/Application?Support/Code/*
Library/Application?Support/VSCodium/*
!Library/Application?Support/Code/User
!Library/Application?Support/VSCodium/User/
!Library/Application?Support/VSCodium/product.json
Library/Application?Support/VSCodium/User/*
!Library/Application?Support/VSCodium/User/*.*
!Library/Application?Support/VSCodium/User/profiles/
Library/Application?Support/VSCodium/User/profiles/*/
!Library/Application?Support/VSCodium/User/snippets/
Movies/
Music/
Pictures/
projects*/
Public/
Sync/
.var/

# system files
.bash_history
.bashrc.save
.CFUserTextEncoding
.DS_Store
# want to track, but need to use no-reply email first in GitHub
.gitconfig
.lesshst
.psql_history
.python_history
.sudo_as_admin_successful
.viminfo
.wget-hsts
.Xauthority
.xsession*
.yarnrc
# z plugin files from ohmyzsh
.z
.zcompdump*
.zsh_history
