# your dotfiles repo name
/.dotfiles

# experimentation
sandbox

# system directories
.cache/
.config/raycast/*/
.docker/
.local/
.logseq/
.mongodb/
.node/
.npm/
.nvm/
.oh-my-zsh/
.oh-my-zsh-custom/*/
.pyenv/
.rest-client/
.ssh/
.Trash/
.vscode/*
!.vscode/tasks.json
.vscode-oss/
!.vscode-oss/tasks.json
.yarn/
.zsh_sessions/

# general purpose directories
Applications/
Desktop/
Documents/
Downloads/
Library/*
!Library/Application?Support/
Library/Application?Support/*
!Library/Application?Support/Code/
!Library/Application?Support/VSCodium/
Library/Application?Support/Code/*
Library/Application?Support/VSCodium/*
!Library/Application?Support/Code/User
!Library/Application?Support/VSCodium/User/
Library/Application?Support/VSCodium/User/*
!Library/Application?Support/VSCodium/User/*.*
!Library/Application?Support/VSCodium/User/profiles/
Library/Application?Support/VSCodium/User/profiles/*/
!Library/Application?Support/VSCodium/User/snippets/
Movies/
Music/
Pictures/
projects*/
Public/
Sync/

# system files
.bash_history
.CFUserTextEncoding
.DS_Store
# want to track, but need to use no-reply email first in GitHub
.gitconfig
.lesshst
.python_history
.viminfo
.yarnrc
.z
.zcompdump*
.zsh_history
