{:logseq-vim-shortcuts {:version "v0.1.22", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
 :logseq-catppuccin {:version "v0.6.3", :repo "catppuccin/logseq", :effect false, :theme true}}
