<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_label</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_position</key>
	<integer>1</integer>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>0</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>mini</string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>2</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Documents</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>404</real>
	<key>NSStatusItem Preferred Position Disk_mini</key>
	<real>310</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>451</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>357</real>
	<key>NSStatusItem Restore Position Battery_mini</key>
	<integer>246</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>320 320 800 448 0 0 1440 875 </string>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>2</integer>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1738306788</integer>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>B01710E4-2628-416A-9009-51B2EF859F87</string>
	<key>update-interval</key>
	<string>Never</string>
	<key>updater_check_ts</key>
	<integer>1738306788</integer>
	<key>version</key>
	<string>2.11.28</string>
</dict>
</plist>
